
page-login {

}

ion-navbar{
    height: 45vh;
}

.toolbar-background{
    background-color: #08586f;
}

.image-logo{
    width: 20vw;
    margin-left: 40vw;
    margin-right: auto;
    fill: #ffffff;
}

.text-logo{
    font-family: Roboto-Bold;
    color: #ffffff;
    margin-top: 3px;
    text-align: center;
    font-size: 22pt;
}
