<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="main-background">
  <ion-card style="height: 25vh; width:100vw;padding: 0px;margin: 0px; background-color: #000000;margin-right:1px">
    <img src="assets/img/1.jpg">
    <div class="card-title" *ngIf="name">{{name}}</div>
    <div class="card-subtitle" *ngIf="nickname">@{{nickname}}</div>
  </ion-card>

  <ion-row *ngIf="interest" style="padding-bottom: 0px">
  <ion-card style="height: 8vh; width:25vw; background-color: #0c80a0;">
    <div class="card-section">Intereses</div>
  </ion-card> 
      <ion-card *ngFor="let inter of interest" style="height: 8vh; width:8vh; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" >
          <ion-icon name="color-palette" class="white-icon"></ion-icon>
          <div class="card-subsection">{{inter}}</div>
        </ion-card>
  </ion-row>
  <ion-row>
    <ion-card *ngIf="about" style="height: 15vh; width:80vh; background-color: #0c80a0;">
        <div class="about-title">Acerca de mi</div>
        <div class="about-subtitle">"{{about}}"</div>
    </ion-card>
  </ion-row>
  
</ion-content>
